body {
    font-size: 18px;
    color: #274C77;
    font-family: "Marianne", sans-serif ;
    margin: 0px;    
    }

a:visited {
    color: inherit;
    }

.topmenu {
    background-color: #E5E5E5;
    position: fixed;
    left:0px;
    right: 0px;
    top: 0px;
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    }

.title-main {
    font-size: 48px;
    text-align: center;    
    background-image: url(images/titre02.png);
    background-color: #6096BA;
    position: static;
    left:0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin: 100px 0 0 0;
    }

.page {
    background-image: url(images/building_background01.png);
    background-attachment: fixed;
    color: black;
    background-color: #6096BA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;        
    /*height: 939px;*/
    padding: 20px;
    }

.footer {
    position: abolute;
    background-color: #274C77;
    color: #E7ECEF;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
    padding: 20px;    
    }

.footer p {
    margin:  0px;
    }

label{
    float: left;
    width: 300px;
}
.formulaire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

@media screen and (max-width: 800px) {
    .title-main {
        font-size: 28px;
        text-align: center;    
        background-image: url(images/titre02.png);
        background-color: #6096BA;
      position: static;
     left:0px;
      right: 0px;
      display: flex;
       align-items: center;
      justify-content: space-around;
       height: 100px;
       margin: 100px 0 0 0;
    }

    .topmenu {
        background-color: #E5E5E5;
        position: fixed;
        left:0px;
        right: 0px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
        } 
  }
  /*commentaire*/